@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Aplicamos los colores base definidos en tailwind.config.ts */
  body {
    @apply bg-background text-foreground antialiased;
  }
  
  /* Optimizaciones de renderizado de fuentes */
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
}

/* Scrollbar personalizada minimalista */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}